

<link rel="stylesheet" href="/css/login.css">


<!----------------------Formulario Login de Usuario-------------------------->

<h1>LOGIN</h1>


<form action="/ingresa" method="post" class="formulario-login">
<div class="control-formulario-login">
    <label>Nombre de Usuari@</label>
    <input type="text" name="nombre de usuario" class="input-usuario">
</div>

<div class="control-formulario-login">
    <label>Contraseña</label>
    <input type="password" name="contraseña" class="input-contraseña">
</div>

<div>
    <button type="submit" name="ENVIAR" class="buttom-enviar-login">ENVIAR</button>
</div>
