.img-logo{
    width: 30%;
}

div.form {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    color: #666;
}

.LOGIN{
    background-color: wheat;
}