h1{
    text-align: center;
    font-weight: bold;
    background-color:darkkhaki;
}

label{
    font-size: 1.5em;
}
.main-registro{
    margin-top: 50px;
    width: 80%;
    background-color: rgb(168, 208, 209);
    border: dashed 3px red;
}


.formulario-registro{
    width: 90%;
    padding: 20px ;
    font-weight: bold;
}

.control-formulario{
    margin-bottom: 15px;
}

.control-formulario label{
    margin-bottom: 10px;
    
}

.checkbox{
    margin-bottom: 15px;
    
}

.input-textos{
    width: 70%;
    height: 30px;
}

.button-enviar{
    display: flex;
    margin:auto;
    padding: 15px;
    justify-content:center


}

.button-borrar{
    display: flex;
    justify-content:center;
    

}
