
h1{
    text-align: center;
    font-weight: bold;
    background-color:rgb(26, 9, 121);
    color:white;
}

label{
    font-size: 1em;
}
.main-registro{
    margin-top: 50px;
    width: 80%;
    background-color: rgba(229, 229, 233, 0.918);
    border: solid 3px rgb(43, 17, 114);
}


div.form {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    color: #666;
}


.formulario-registro{
    width: 90%;
    padding: 20px ;
    font-weight: bold;
}

.control-formulario{
    margin-bottom: 15px;
    padding: 5px;
}

.control-formulario label{
    margin-bottom: 10px;
    
}


.checkbox{
    margin-bottom: 15px;
    padding: 5px;
}

.input-textos{
    width: 70%;
    height: 30px;
}

.button-enviar{
    display: flex;
    margin:auto;
    padding: 15px;
    justify-content:center;
}

.button-borrar{
    display: flex;
    justify-content:center;

}
